.storebox{
	display: block;
	overflow: hidden;
	height: 260px;
	background: #222 url(../../update/storehead-bg.png) center center no-repeat;
	background-size: auto 100%;
}
.store-status{
	display: block;
	overflow: hidden;
	.store-head{
		display: block;
		overflow: hidden;
		width: 180px;
		height: 180px;
		border: 2px solid #fb5a02;
		margin: 40px 10px;
		float: left;
	}
	.store-info{
		display: block;
		overflow: hidden;
		float: left;
		color: #fff;
		margin: 40px 10px;
		font-size: 16px;
	}
	.store-detail{
		td{
			padding: 0 12px 18px 12px;
		}
	}
}